/*商品选择器*/
.business-switcher {
    border: 2px solid #eee;
}

.excavator-filter {
    padding: 15px 10px 15px 10px;
}

.excavator-filter-name {
    color: #999;
}

.excavator-filter-item, .excavator-filter-name {
    padding: 5px 10px;
    margin-right: 8px;
}

.excavator-filter-item {
    color: #666;
    white-space: nowrap;
    display: inline-block;
    margin: 5px 6px;
}

.excavator-filter-item.focus {
    color: #fff;
    background-color: #0089dc;
    border-radius: 3px;
}

.excavator-filter-item.active {
    line-height: 36px;
    background-color: #f6f6f6;
    border-radius: 0;
    margin: 0;
    padding: 0 1pc;
    height: 38px;
}

.excavator-filter-item.premium {
    color: #f74342;
}

.excavator-filter-subbox {
    margin-left: 90px;
    background-color: #f6f6f6;
    padding: 6px 0;
}

.excavator-other-filter {
    background: #f5f5f5;
}

.excavator-orderby {
    margin-left: 12px;
}

.excavator-sort-orderby-item {
    position: relative;
}

.excavator-sort-freight-item {
    position: relative;
}

.excavator-sort-item {
    line-height: 40px;
    color: #666;
    display: inline-flex;
    padding: 0 7px;
    position: relative;
}

.excavator-sort-item.focus {
    color: #0089dc;
}

.img-aw {
    margin: auto 0;
    margin-left: 8px;
    margin-top: 2px;
    transform: rotate(360deg);
}

.img-aw.focus {
    margin-top: -5px;
    transform: rotate(180deg);
}

.excavator-pop {
    display: block;
    position: absolute;
    width: 85px;
    top: 40px;
    background-color: #fff;
    line-height: 30px;
    border: 1px solid #f5f5f5;
    border-width: 0 1px 1px 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    z-index: 6;
}

.excavator-pop.focus {
    color: #0089dc;
}

.excavator-pop .focus {
    color: #0089dc;
}

/*.excavator-sort-orderby-item.excavator-sort-item:hover,.excavator-pop{*/
/*display: block;*/
/*}*/

.excavator-pop a {
    color: #666;
    text-align: center;
}

.excavator-pop a:hover {
    color: #0089dc;
}

.excavator-option {
    float: right;
    margin: 3px 10px 3px 0;
    line-height: 34px;
    border-left: 1px #e6e6e6 solid;
    padding: 0 10px;
}

.excavator-option-item {
    cursor: pointer;
}

.excavator-option-item input {
    margin-right: 3px;
    vertical-align: middle;
}

.place-tips {
    margin-top: 10px;
    line-height: 40px;
    padding: 0 10px;
    background-color: #fffdee;
    border: 1px solid #ffe4b9;
}

.place-tips var {
    font-style: normal;
    color: #f63;
    font-size: 20px;
}

.place-tips a {
    color: #0089dc;
}

.rstblock {
    background-color: #fff;
    border-bottom: 1px #f5f5f5 solid;
    width: 33.33333%;
    height: 140px;
}

.rstblock-logo {
    padding: 20px;
    color: #999;
    text-align: center;
}

.rstblock-logo img{
    width: 65px;
    height: 70px;
}

.rstblock, .rstblock-logo {
    float: left;
    font-size: 9pt;
    position: relative;
}

.rstblock-logo-premiumsign {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 35px;
    z-index: 1;
}

.elemeicon-premiumsign {
    background-position: 4px -487px;
}

.rstblock-content {
    padding: 20px;
}

.rstblock-title {
    font-size: 1pc;
    margin-bottom: 6px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}

.starrating {
    position: relative;
    display: inline-block;
    line-height: 1em;
    color: #ccc;
}

.rstblock-monthsales {
    color: #999;
    margin-left: 10px;
}

.rstblock-cost {
    color: #999;
    margin-top: 3px;
}

@media (min-width: 1500px) {
    .rstblock {
        background-color: #fff;
        border-bottom: 1px #f5f5f5 solid;
        width: 25%;
        height: 140px;
    }
}

.place-rstbox {
    position: relative;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    margin-top: 20px;
    background: #fff;
}

.rstblock:hover {
    background-color: #f5f5f5;
}

.rstblock:hover .rstblock-title {
    color: #0089dc;
}

:root .rstpopover.placeleft .rstpopover-arrow {
    right: -7px\9;
}
:root .rstpopover .rstpopover-arrow {
    -ms-filter: "";
}

.rstblock-activity i {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-style: normal;
    font-size: 9pt;
    line-height: 1pc;
    overflow: hidden;
    text-align: center;
    width: 18px;
    border-radius: 2px;
    margin-right: 3px;
    padding: 1px;
    background-color: #f63;
    white-space: nowrap;
}

.rstpopover {
    position: absolute;
    width: 316px;
    color: #999;
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 1pc 14px;
    z-index: 4;
}

.rstpopover.placeright .rstpopover-arrow {
    border-top: 0;
    border-right: 0;
    background: #fff;
    left: -7px;
    left: -8px\9;
    top: 15px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476})";
}

.rstpopover.placeleft .rstpopover-arrow {
    border-bottom: 0;
    border-left: 0;
    right: -7px;
    right: -5px\9;
    top: 15px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476})";
}

.rstpopover .rstpopover-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #ddd;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476})";
}

.rstpopover-title {
    margin-bottom: 8px;
    color: #333;
    font-size: 1pc;
    font-weight: 700;
}

.rstpopover-flavors {
    font-size: 9pt;
    color: #999;
    position: relative;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 10px;
}

.rstpopover-activities {
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 15px;
}

.rstpopover-activities li {
    margin: 10px 0;
    font-size: 9pt;
    color: #666;
    padding-left: 20px;
}

.rstpopover-delivery {
    display: table;
    width: 100%;
    background-color: #f2f2f2;
    padding: 8px 0;
    line-height: 14px;
    margin-bottom: 20px;
    white-space: nowrap;
}

.rstpopover-delivery li:first-child {
    border-left: none;
}
.rstpopover-delivery li {
    display: table-cell;
    color: #333;
    font-size: 9pt;
    text-align: center;
    margin-right: -1px;
    border-left: 1px solid #ddd;
}

.rstpopover-notice {
    font-size: 9pt;
    line-height: 20px;
    color: #666;
}

.rstpopover-activities li i {
    display: inline-block;
    padding: 1px;
    color: #fff;
    font-size: 9pt;
    font-style: normal;
    line-height: 1pc;
    text-align: center;
    width: 18px;
    border-radius: 2px;
    background-color: #f63;
    margin-left: -20px;
    margin-right: 5px;
    word-wrap: nowrap;
}





