<link rel="stylesheet" href="components/FooterWrapperStyle.css">
<div class="container clearfix">
    <div class="footer-link"><h3 class="footer-link-title">用户帮助</h3><a class="footer-link-item"
                                                                       href="https://www.ele.me/support/center"
                                                                       target="_blank">服务中心</a> <a
            class="footer-link-item" href="https://www.ele.me/support/question/default" target="_blank">常见问题</a> <a
            class="footer-link-item" online-service="" href="javascript:" style="visibility: visible;">在线客服</a>
    </div>
    <div class="footer-link"><h3 class="footer-link-title">商务合作</h3><a class="footer-link-item"
                                                                       href="//kaidian.ele.me"
                                                                       target="_blank">我要开店</a> <a
            class="footer-link-item" href="https://www.ele.me/support/about/jiameng" target="_blank">加盟指南</a> <a
            class="footer-link-item" href="https://www.ele.me/support/about/contact" target="_blank">市场合作</a> <a
            class="footer-link-item" href="http://openapi.eleme.io/help" target="_blank">开放平台</a></div>
    <div class="footer-link"><h3 class="footer-link-title">关于我们</h3><a class="footer-link-item"
                                                                       href="https://www.ele.me/support/about"
                                                                       target="_blank">饿了么介绍</a> <a
            class="footer-link-item" href="http://jobs.ele.me/" target="_blank">加入我们</a> <a class="footer-link-item"
                                                                                            href="https://www.ele.me/support/about/contact"
                                                                                            target="_blank">联系我们</a>
        <a class="footer-link-item" href="https://www.ele.me/support/about/agreement" target="_blank">服务协议</a></div>
    <div class="footer-contect">
        <div class="footer-contect-item">24小时客服热线 : <a class="inherit" href="tel:10105757">10105757</a></div>
        <div class="footer-contect-item">意见反馈 : <a class="inherit" href="mailto:feedback@ele.me">feedback@ele.me</a>
        </div>
        <div class="footer-contect-item">关注我们 :
            <div href="JavaScript:" class="icon-wechat" ng-mouseover="sh()" ng-mouseleave="sh()">
                <div class="dropbox dropbox-bottom footer-contect-dropbox" ng-show='ishow'><img
                        src="//static11.elemecdn.com/eleme/desktop/media/img/wexinqc100@2x.c310b6.png"
                        alt="微信号: elemeorder">
                    <p>微信号: elemeorder</p>
                    <p>饿了么网上订餐</p></div>
                <img src="res/drawable/ic_wechat.png">
            </div>
            <a href="http://e.weibo.com/elemeorder" class="icon-weibo" target="_blank"><img
                    src="res/drawable/ic_sina.png"></a> <a
                    href="http://page.renren.com/elemeorder" class="icon-renren" target="_blank"><img
                    src="res/drawable/ic_renren.png"></a></div>
    </div>
    <div class="footer-mobile"><a href="http://static11.elemecdn.com/eleme/desktop/mobile/index.html"
                                  target="_blank"><img
            src="//static11.elemecdn.com/eleme/desktop/media/img/appqc.852963.png" class="footer-mobile-icon"
            alt="扫一扫下载饿了么手机 App"></a>
        <div class="footer-mobile-content"><h3>下载手机版</h3>
            <p>扫一扫,手机订餐方便</p></div>
    </div>
    <div class="footer-copyright serif">增值电信业务许可证 : <a href="http://www.shca.gov.cn/"
                                                       target="_blank">沪B2-20150033</a> | <a
            href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备 09007032</a> | <a
            href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=20120305173227823"
            target="_blank">上海工商行政管理</a> Copyright ©2008-2015 ele.me, All Rights Reserved.
    </div>
    <div class="footer-police container"><a href="http://www.zx110.org/picp/?sn=310100103568" rel="nofollow"
                                            target="_blank"><img alt="已通过沪公网备案，备案号 310100103568"
                                                                 src="//static11.elemecdn.com/eleme/desktop/media/img/picp_bg.e373b3.jpg"
                                                                 height="30"></a></div>
</div>


